<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Gestion d'inventaire</title>

    <style>
    .form{
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .title{
      margin: 50px 0 50px;
    }
    #zniti{
      color: white;
    }
    </style>
</head>
<body>
  <nav class="navbar navbar-light bg-dark">
      <span class="navbar-brand mb-0 h1" ><a id="zniti" href="/">ZNITI INVENTORY</a></span>
      <div class="">
        <a href="/" class="btn btn-outline-light">Products List</a>
        <a href="/fournisseur" class="btn btn-outline-light">Suppliers List</a>
        <a href="/rayon" class="btn btn-outline-light">Aisles List</a>

      </div>
  </nav>
